doctype html
html(lang="en")
  head
    title= titlePage
    link(rel="stylesheet" href="./styles.css")
  body
    .container
      h1 game
      canvas(id="gamePlace" width="650" height="650")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="javascripts.js")
