body {
  display: flex;
  justify-content: center;
  background: #888;
  margin: 10px; }
  body h1 {
    transition: .2s; }
    body h1:hover {
      color: white; }

canvas {
  background: #ddd;
  display: flex; }
